<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title>Document</title>
</head>
<body>
  <nav>
    <h4>Aqra</h4>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </nav>

  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        Register Form
      </div>
      <div class="card-body">
        <form action="/auth/register" method="POST">
          <div class="form-group">
            <label for="firstname">Firstname</label>
            <input type="text" class="form-control" id="firstname" name="firstname">
          </div>

          <div class="form-group">
            <label for="lastname">Lastname</label>
            <input type="text" class="form-control" id="lastname" name="lastname">
          </div>

          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>

          <div class="form-group">
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm">
          </div>

          <div class="form-group">
            <label for="birthDate">Birth date</label>
            <input type="date" class="form-control" id="birthDate" name="birthdate">
          </div>

          <div class="form-group">
            <label for="gender">Birth date</label>
            <select name="gender" id="gender" class="form-control">
              <option value="male">male</option>
              <option value="female">female</option>
            </select>
          </div>
          
          <div class="form-group">
            <label for="phoneNum">Phone number</label>
            <input type="text" class="form-control" id="phoneNum" name="phoneNum">
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios" value="student">
            <label class="form-check-label" for="exampleRadios">
              Register as student
            </label>
          </div><br>  
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="instructor">
            <label class="form-check-label" for="exampleRadios2">
              Register as instructor
            </label>
          </div><br>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="parent">
            <label class="form-check-label" for="exampleRadios3">
              Register as parent
            </label>
          </div><br>
          {{!-- <div class="form-group">
            <label for="tier">Tier</label>
            <select name="tier" id="tier" class="form-control">
              <option value="Middle school">Middle school</option>
              <option value="Secondary school">Secondary school</option>
            </select>
          </div>
          <div class="form-group">
            <label for="domaine">Domaine</label>
            <select name="domaine" id="domaine" class="form-control">
              <option value="IT and technology">IT and technology</option>
              <option value="Science">Science</option>
            </select>
          </div> --}}
          <button type="submit" class="btn btn-primary">Create account</button>
        </form>
      </div>
    </div>

    {{#if message }}
      <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if}}
    {{#if sucMessage }}
      <h4 class="alert alert-success mt-4">{{sucMessage}}</h4>
    {{/if}}
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>